{% load static %}

{% block content %}


<!-- Footer Start -->
<div
class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn"
data-wow-delay="0.1s"
>
<div class="container py-5">
  <div class="row g-5">
    <div class="col-lg-3 col-md-6">
      <h1 class="text-white mb-4">
        <img
          class="img-fluid me-3"
          src="{% static 'img/icon/icon-02-light.png'%}"
          alt=""
        />ATGroup
      </h1>
      <p>
        At Atlas Trust Group, we empower individuals and businesses to build lasting wealth and secure their future through innovative insurance and financial solutions. Your prosperity is our mission.
      </p>
      <div class="d-flex pt-2">
        <a class="btn btn-square me-1" href=""
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-square me-1" href=""
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-square me-1" href=""
          ><i class="fab fa-youtube"></i
        ></a>
        <a class="btn btn-square me-0" href=""
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <h5 class="text-light mb-4">Address</h5>
      <p>
        <i class="fa fa-map-marker-alt me-3"></i>Mercury Point, San Diego, CA 92111, USA
      </p>
      <p><i class="fa fa-phone-alt me-3"></i>+1 951 329 2799</p>
      <p><i class="fa fa-envelope me-3"></i>hr@atlastrustgroup.com</p>

    </div>
    <div class="col-lg-3 col-md-6">
      <h5 class="text-light mb-4">Quick Links</h5>
      <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
      <a class="btn btn-link" href="{% url 'leadership' %}">Leadership</a>
      <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
      <a class="btn btn-link" href="{% url 'services' %}">Our Services</a>
      <a class="btn btn-link" href="">Terms & Condition</a>
      <a class="btn btn-link" href="{% url 'contact' %}">Support</a>
    </div>
    <div class="col-lg-3 col-md-6">
      <h5 class="text-light mb-4">Newsletter</h5>
      <p>Stay Connected with us and recieve exciting updates</p>
      <div class="position-relative mx-auto" style="max-width: 400px">
        <input
          class="form-control bg-transparent w-100 py-3 ps-4 pe-5"
          type="text"
          placeholder="Your email"
        />
        <button
          type="button"
          class="btn btn-secondary py-2 position-absolute top-0 end-0 mt-2 me-2"
        >
          SignUp
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        &copy; <a href="#">Atlas Trust Group</a>, All Right Reserved.
      </div>
    </div>
  </div>
</div>
</div>
<!-- Footer End -->

{% endblock content %}